*{
    margin: 0px;
    padding: 0px;
}

.jumbotron{
    width: 1024px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.mobile{
    color: #FFFFFF;
    display: none;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.mobile h1{
    font-size: 10vw;
}

.mobile p{
    font-size: 5vw;
}

.mobile a{
    width: 80%;
    font-size: 4.5vw;
    margin: 0px auto;
}

iframe{
    width: 100%;
    border: none;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    body{
        background: linear-gradient(30deg, #2980b9, #16a085);
    }
    
    .jumbotron{
        display: none;        
    }
    
    .mobile{
        display: block;        
    }
    
    iframe{
        width: 100%;
    }
}